<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
<link rel="stylesheet" href="/front/css/base/head.css">
<div id="model-bar">
	<ul class="nav nav-pills">
	  <li><a href="#" class="active">文章浏览</a></li>
	  <li><a href="#">节目播放</a></li>
	  <li><a href="#">图片画廊</a></li>
	  <li><a href="#">旅游文化</a></li>
	  <li><a href="#">活动预约</a></li>
	  <li><a href="#">场馆预约</a></li>
	  <li><a href="#">调查问卷</a></li>
	</ul>
</div>
</html>
